@import "../../globals";

.button {
  background-color: $secondary;
  border: 0;
  border-radius: 4px;
  color: $pure-white;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  padding: 16px 32px;
  transition: 0.5s;
  width: 100%;

  &:hover {
    background-color:  darken($secondary, 5) ;
  }
}